@import '~normalize.css/normalize.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800italic,700,300italic,300,400,400italic);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
