Root {
  font-family: 'Open Sans', sans-serif;

  width: 100%;
  height: 100%;
  overflow: auto;

  color: #222;
  background: #EEE;
}

HeadingLine {
  base: h1;
  margin: 0;
  padding: 0;
  font-size: 50px;
  height: 50px;
  letter-spacing: -3px;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  overflow: hidden;
}

SubHeadingLine {
  base: h2;
  margin: 0;
  padding: 0;
  font-size: 20px;
  height: 20px;
  letter-spacing: -1px;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  overflow: hidden;
}

NavBar {
  background: #CCC;
  padding: 10px;
}

NavLink {
  base: a;
  padding: 10px 8px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 11pt;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}

NavLink:hover,
NavLink:active {
  background: #BBB;
}

NavLink:prop(selected),
NavLink:prop(selected):hover,
NavLink:prop(selected):active {
  background: #EEE;
}

Section {
  position: relative;
  margin-bottom: 50px;
  padding: 20px 10px;
}

Section:prop(decorated) {
  background: #F5DE1B;
  color: #000;
}

Section:prop(noWrap) {
  margin-bottom: 0;
}

Footer {

}

SectionHeader {
  base: h3;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 800;
}

ContentWrapper {
  padding: 10px;
}

CodeBlock {
  base: pre;
  white-space: pre;
  line-height: 1.2em;
  font-family: Menlo, Monaco, monospace;
  font-size: 9pt;
  padding: 10px;
  margin-bottom: 1em;
  color: #222;
  background: #CCC;
  border-bottom: 1px solid #BBB;
}

Par {
  font-size: 11pt;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 1em;
}
