NavBar {
  background: #CCC;
  height: 40px;
  overflow: hidden;
}

NavBar:prop(sticky) {
  box-shadow: 0px 1px 3px 0px #888;
  background: #F5DE1B;
  -webkit-backdrop-filter: blur(10px);
}

NavLink {
  base: ../lib?Link;
  display: inline-block;
  padding: 10px 10px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 11pt;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}

NavLink:hover,
NavLink:active {
  background: #BBB;
}


NavBar:prop(sticky) NavLink:hover,
NavBar:prop(sticky) NavLink:active {
  background: #CEBB19;
}

NavLink:prop(active),
NavLink:prop(active):hover,
NavLink:prop(active):active {
  background: #EEE;
}

NavBar:prop(sticky) NavLink:prop(active),
NavBar:prop(sticky) NavLink:prop(active):hover,
NavBar:prop(sticky) NavLink:prop(active):active {
  background: #FFF177;
}


@media only screen and (min-width: 600px) {

  NavBarWrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

}
