@import 'normalize.css/normalize.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800italic,700,300italic,300,400,400italic);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #F5DE1B;
  color: #222;
}

Root {
  position: relative;
  background: #EEE;
}

HeadingLine {
  base: h1;
  margin: 0;
  padding: 0 5px;
  font-size: 50px;
  height: 50px;
  letter-spacing: -3px;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  overflow: hidden;
}

HeadingLine:prop(small) {
  font-size: 40px;
  background: #F5DE1B;
  height: 40px;
}

HeadingLine:prop(inline) {
  display: inline-block;
  vertical-align: bottom;
}

HeadingLine:prop(decorated) {
  background: #F5DE1B;
}

SubHeadingLine {
  base: h2;
  margin: 0;
  padding: 0 5px;
  font-size: 20px;
  height: 20px;
  letter-spacing: -1px;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  overflow: hidden;
}

Section {
  position: relative;
  margin-bottom: 50px;
  padding: 20px 10px;
}

Section:prop(decorated) {
  background: #F5DE1B;
  color: #000;
}

Section:prop(center) {
  text-align: center;
}

Section:prop(noMargin) {
  margin-bottom: 0;
}

Section:prop(noPadding) {
  padding: 0;
}

Footer {

}

SectionHeader {
  base: h3;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 800;
}

ContentWrapper {
  padding: 10px;
}

CodeBlock {
  base: pre;
  white-space: pre;
  line-height: 1.2em;
  font-family: Menlo, Monaco, monospace;
  font-size: 9pt;
  padding: 10px;
  margin-bottom: 1em;
  color: #222;
  background: #CCC;
  border-bottom: 1px solid #BBB;
}

Par {
  font-size: 11pt;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 1em;
}

UIText {
  base: span;
  font-size: 10pt;
  font-weight: 700;
}

UIText:prop(small) {
  font-size: 8pt;
}

UIText:prop(uppercase) {
  text-transform: uppercase;
}

Heart {
  base: span;
  color: red;
  font-size: 110%;
}

@media only screen and (min-width: 600px) {

  ContentWrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

}
